<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOGS" value="./logs" />

    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/ldata.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/ldata.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                [%d{HH:mm:ss.SSS}] %cyan([%thread]) %highlight(%-5level) %green(%logger) %msg%n
            </Pattern>
        </encoder>
    </appender>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="com.hack.stock2u.global.filter.BasicLogFilter" />
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                [%d{HH:mm:ss.SSS}] %cyan([%thread]) %highlight(%-5level) %green(%logger) %msg%n
            </Pattern>
        </encoder>
    </appender>

    <appender name="HTTP" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="com.hack.stock2u.global.filter.HttpFilter" />
        <!--        <file>${LOGS}/http.log</file>-->
        <!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
        <!--            <fileNamePattern>logs/http.%d{yyyy-MM-dd}.log</fileNamePattern>-->
        <!--            <maxHistory>30</maxHistory>-->
        <!--        </rollingPolicy>-->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                [%d{HH:mm:ss.SSS}] %highlight(%-5level) %green(%logger) %red([traceId=%X{traceId}]) - %cyan(%msg%n)
            </Pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="HTTP" />
        <appender-ref ref="RollingFile" />
        <appender-ref ref="Console" />
    </root>
</configuration>
